In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/climate-change-data/climate_change_data.csv

**Import Needed libraries**

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

**Import the data set- Climate change data set**

In [3]:
climatechange= pd.read_csv("/kaggle/input/climate-change-data/climate_change_data.csv")

**Check the first rows of the climate change dataset**

In [4]:
climatechange.head()

,Date,Location,Country,Temperature,CO2 Emissions,Sea Level Rise,Precipitation,Humidity,Wind Speed
0,2000-01-01 00:00:00.000000000,New Williamtown,Latvia,10.688986,403.118903,0.717506,13.835237,23.631256,18.492026
1,2000-01-01 20:09:43.258325832,North Rachel,South Africa,13.814430,396.663499,1.205715,40.974084,43.982946,34.249300
2,2000-01-02 16:19:26.516651665,West Williamland,French Guiana,27.323718,451.553155,-0.160783,42.697931,96.652600,34.124261
3,2000-01-03 12:29:09.774977497,South David,Vietnam,12.309581,422.404983,-0.475931,5.193341,47.467938,8.554563
4,2000-01-04 08:38:53.033303330,New Scottburgh,Moldova,13.210885,410.472999,1.135757,78.695280,61.789672,8.001164

**Check the data rows in the last five rows**

In [5]:
climatechange.tail()

,Date,Location,Country,Temperature,CO2 Emissions,Sea Level Rise,Precipitation,Humidity,Wind Speed
9995,2022-12-27 15:21:06.966696576,South Elaineberg,Bhutan,15.020523,391.379537,-1.452243,93.417109,25.293814,6.531866
9996,2022-12-28 11:30:50.225022464,Leblancville,Congo,16.772451,346.921190,0.543616,49.882947,96.787402,42.249014
9997,2022-12-29 07:40:33.483348224,West Stephanie,Argentina,22.370025,466.042136,1.026704,30.659841,15.211825,18.293708
9998,2022-12-30 03:50:16.741674112,Port Steven,Albania,19.430853,337.899776,-0.895329,18.932275,82.774520,42.424255
9999,2022-12-31 00:00:00.000000000,West Anthonyburgh,Sao Tome and Principe,12.661928,381.172746,2.260788,78.339658,99.243923,41.856539

**Check the datatypes of each column**

In [6]:
climatechange.dtypes

Date               object
Location           object
Country            object
Temperature       float64
CO2 Emissions     float64
Sea Level Rise    float64
Precipitation     float64
Humidity          float64
Wind Speed        float64
dtype: object

**Describe the stastical data in the Dataset**

In [7]:
climatechange.info

<bound method DataFrame.info of                                Date           Location                Country  \
0     2000-01-01 00:00:00.000000000    New Williamtown                 Latvia
1     2000-01-01 20:09:43.258325832       North Rachel           South Africa
2     2000-01-02 16:19:26.516651665   West Williamland          French Guiana
3     2000-01-03 12:29:09.774977497        South David                Vietnam
4     2000-01-04 08:38:53.033303330     New Scottburgh                Moldova
...                             ...                ...                    ...
9995  2022-12-27 15:21:06.966696576   South Elaineberg                 Bhutan
9996  2022-12-28 11:30:50.225022464       Leblancville                  Congo
9997  2022-12-29 07:40:33.483348224     West Stephanie              Argentina
9998  2022-12-30 03:50:16.741674112        Port Steven                Albania
9999  2022-12-31 00:00:00.000000000  West Anthonyburgh  Sao Tome and Principe

      Temperature  CO2 Emissions  Sea Level Rise  Precipitation   Humidity  \
0       10.688986     403.118903        0.717506      13.835237  23.631256
1       13.814430     396.663499        1.205715      40.974084  43.982946
2       27.323718     451.553155       -0.160783      42.697931  96.652600
3       12.309581     422.404983       -0.475931       5.193341  47.467938
4       13.210885     410.472999        1.135757      78.695280  61.789672
...           ...            ...             ...            ...        ...
9995    15.020523     391.379537       -1.452243      93.417109  25.293814
9996    16.772451     346.921190        0.543616      49.882947  96.787402
9997    22.370025     466.042136        1.026704      30.659841  15.211825
9998    19.430853     337.899776       -0.895329      18.932275  82.774520
9999    12.661928     381.172746        2.260788      78.339658  99.243923

      Wind Speed
0      18.492026
1      34.249300
2      34.124261
3       8.554563
4       8.001164
...          ...
9995    6.531866
9996   42.249014
9997   18.293708
9998   42.424255
9999   41.856539

[10000 rows x 9 columns]>

[Data Cleaning the Climate Change Dataset](http://https://www.analyticsvidhya.com/blog/2021/06/data-cleaning-using-pandas/)